/* Hiding only templates, not the editable content linking to the template */
[data-editable-template]:not([data-editable]){
  display: none;
}

[data-editable-template]:not([data-editable]).editable-editing{
  display: block;
}
[data-editable].editable-editing{
  opacity: 0.8;
}